@font-face {
    font-family: 'ArialMt';
    src: url('../fonts/ArialMt.woff2') format('woff2'),
         url('../fonts/ArialMt.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all .3s ease-in;
}

html, body{
	font-family: 'ArialMt', Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #b6b7b9;
	line-height: 1.4;
	background-color: #282828;
	padding: 20px;
}

.main {
	background: linear-gradient(to right top, #ff512f, #dd2476);
}

.container {
	padding: 61px 15px;
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.signup-window {
	background-color: #fff;
	max-width: 461px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 31px 31px 61px 31px;
}

.signup-window__title {
	display: inline-block;
	font-size: 24px;
	color: #000;
	vertical-align: middle;
}

.signup__icon {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.wrap-group {
	font-size: 0;
}

.wrap-group__title {
	margin-bottom: 15px;
}

.signup-window__subtitle {
	margin-bottom: 34px;
}

.link {
	display: inline-block;
	text-decoration: none;
	color: #ea355a;
}

.link:focus {
	box-shadow: 0 0 0 5px #0f0f;
}

.link:hover {
	color: #890435;
	background-color: #ede234;
	font-weight: 700;
}

.link:active {
	opacity: 0.2;
}

.form {
	margin-bottom: 22px;
}

.field-input {
	font-size: 14px;
	background-color: #f0f0f0;
	padding: 13px;
	margin-bottom: 15px;
	border: none;
	border-radius: 6px;
	width: 100%;
}

.field-input--small {
	width: calc((100% - 15px) / 2);
	margin-right: 15px;
	margin-bottom: 0;
}

.field-input--small:last-child {
	margin-right: 0;
}

.wrap-group__field {
	margin-bottom: 15px;
}

.btn {
	display: block;
	font-size: 18px;
	font-weight: 700;
	padding: 16px 24px;
	text-align: center;
	background-color: #ea355a;
	color: #fff;
	border: none;
	border-radius: 6px;
}

.btn--full {
	width: 100%;
}

.btn:focus {
	box-shadow: 0 0 0 5px #0f0f;
}

.btn:hover {
	background-color: #fff;
	color: #ea355a;
	border: 1px solid #ea355a;
}

.btn:active {
	opacity: 0.3;
}

.signup-window__text {
	font-size: 12px;
}





