@font-face {
    font-family: 'ArialMt';
    src: url('../fonts/ArialMt.woff2') format('woff2'),
         url('../fonts/ArialMt.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all .3s ease-in;
}

html, body{
	font-family: 'ArialMt', Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #000;
	line-height: 1.4;
	background-color: #282828;
	padding: 20px;
}

.main {
	position: relative;
	background-image: url('../image/main-bg.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 61px 0 68px 0;
}

.container {
	background-color: #fff;
	max-width: 461px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 31px 30px 61px 30px;
}

.logo__img {
	display: inline-block;
}

.logo__link {
	display: inline-block;
	text-decoration: none;
}

.logo__link:focus {
	border: 2px solid #2e2;
}

.logo__link:hover {
	opacity: 0.5;
}

.logo__link:active {
	opacity: 0.2;
}

.main__title {
	display: inline-block;
	font-size: 24px;
	margin-bottom: 15px;
}

.main__subtitle {
	margin-bottom: 34px;
	max-width: 388px;
}

.main__lead {
	color: #ea355a;
}

.main__link {
	text-decoration: none;
	color: inherit;
}

.main__link:focus {
	box-shadow: 0 0 0 5px #0f0f;
}

.main__link:hover {
	opacity: 0.5;
}

.main__link:active {
	opacity: 0.2;
}

.input {
	font-size: 14px;
	background-color: #f0f0f0;
	padding: 13px;
	margin-bottom: 15px;
	border: none;
	border-radius: 6px;
}

.input__first-name {
	width: 190px;
	margin-right: 15px;
}

.input__last-name {
	width: 190px;
}

.input__email {
	width: 100%;
}

.input__password {
	width: 100%;
}

.btn {
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	padding: 16px 0;
	text-align: center;
	background-color: #ea355a;
	color: #fff;
	border: none;
	border-radius: 6px;
	margin-bottom: 22px;
}

.btn:focus {
	box-shadow: 0 0 0 5px #0f0f;
}

.btn:hover {
	opacity: 0.5;
}

.btn:active {
	opacity: 0.3;
}

.main__text {
	font-size: 12px;
	max-width: 388px;
}





